<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyassist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyAssist">
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".timetablePage"
            android:exported="false" />
        <activity
            android:name=".addUpcomingPaper"
            android:exported="false" />
        <activity
            android:name=".upcomingPaperPage"
            android:exported="false" />
        <activity
            android:name=".editTask"
            android:exported="false" />
        <activity
            android:name=".addTask"
            android:exported="false" />
        <activity
            android:name=".taskPage"
            android:exported="false" />
        <activity
            android:name=".landingPage"
            android:exported="false" />
        <activity
            android:name=".user_sign.signInPage"
            android:exported="false" />
        <activity
            android:name=".user_sign.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>